---
# Tasks file for grafana
# This config allows for a Docker, Kubernetes or Tarball install

- include_tasks: docker.yml
  when: grafana_install_type == "docker"
  tags:
    - unbound

- include_tasks: kubernetes.yml
  when: grafana_install_type == "kubernetes"
  tags:
    - unbound

- include_tasks: tarball.yml
  when: grafana_install_type == "tarball"
  tags:
    - unbound