[defaults]
host_key_checking = False
inventory=./inventory.yml
interpreter_python=auto_silent
#ansible_python_interpreter=/usr/bin/env python3
localhost_warning=false
# EOM
# Older Ansible versions (still widely used)
# callback_whitelist = foreman
# For Ansible 2.10+ / newer versions
callbacks_enabled = theforeman.foreman.foreman
log_path=/var/log/ansible/ansible.log
#vault_password_file = /etc/ansible/.vault_pass
vault_password_file = /home/emanners/.ansible/.vault_pass
# EOM
collections_paths = ./collections:/home/emanners/.ansible/collections:/usr/share/ansible/collections

[callback_foreman]
url = https://katello.edsonmanners.com

# Certificate-based authentication (recommended for Satellite/Foreman)
# Copied from a Foreman server from `/etc/foreman/`
ssl_cert = ./callbacks/client_cert.pem
ssl_key = ./callbacks/client_key.pem

#Certificate verification
# Copied from a Foreman server from `/etc/foreman/`
#verify_certs = ./callbacks/proxy_ca.pem
#verify_certs = ./callbacks/katello-default-ca.crt
verify_certs = 0	# Disable verification (not recommended for production)

# Optional: Report type (foreman or proxy)
report_type = foreman

[ssh_connection]
#ssh_args = 
