mqtt:
  enabled: False
  host: 192.168.68.100

motion:
  threshold: 30
  contour_area: 10
  #lightning_threshold: 0.8

#detectors:
#  coral:
#    type: edgetpu
#    device: usb

cameras:
  pi-zero-w:
    ffmpeg:
      inputs:
        - path: rtsp://192.168.69.160:8554/cam
          roles:
            - detect
            - record
    detect:
      enabled: false
      width: 1280
      height: 720
  den-gaming-1:
    ffmpeg:
      inputs:
        - path: rtsp://192.168.69.101:8554/cam
          roles:
            - detect
            - record
    detect:
      enabled: false
      width: 1280
      height: 720
  ## Camera 2 
  den-robot-2:
    ffmpeg:
      inputs:
        - path: rtsp://192.168.69.102:8554/cam
          roles:
            - detect
            - record
    detect:
      enabled: true
      width: 1280
      height: 720
      fps: 5
    record:
      enabled: true
  ## Camera 3
  office-robot-3:
    ffmpeg:
      inputs:
        #- path: rtsp://pi-robot-3.edsonmanners.com:8554/cam
        - path: rtsp://192.168.69.103:8554/cam
          roles:
            - detect
            - record
    detect:
      enabled: true
      width: 1280
      height: 720
      fps: 5
    record:
      enabled: true
  cam5:
    ffmpeg:
      inputs:
        - path: rtsp://192.168.69.105:8554/cam
          roles:
            - detect
            - record
    detect:
      enabled: false
      width: 1280
      height: 720
