// Managed by Alloy role -- restored known-good config for pi-robot-5

logging { level = "info" }
livedebugging { enabled = true }

loki.source.journal "journal" {
  forward_to = [loki.relabel.default.receiver]
  labels = {
    host = "pi-robot-5",
    job  = "journal",
  }
}

loki.relabel "default" {
  forward_to = [loki.write.default.receiver]

  rule {
    target_label = "host"
    replacement  = "{{ inventory_hostname }}"
  }
  rule {
    target_label = "os"
    replacement  = "Linux"
  }
  // Detect log level from log line text and emit detected_level label.
  rule {
    source_labels = ["__log_line__"]
    regex         = "(?i)\\b(emerg|alert|crit|error|err)\\b"
    target_label  = "detected_level"
    replacement   = "error"
  }
  rule {
    source_labels = ["__log_line__"]
    regex         = "(?i)\\b(warn|warning)\\b"
    target_label  = "detected_level"
    replacement   = "warning"
  }
  rule {
    source_labels = ["__log_line__"]
    regex         = "(?i)\\b(info|information)\\b"
    target_label  = "detected_level"
    replacement   = "info"
  }
  rule {
    source_labels = ["__log_line__"]
    regex         = "(?i)\\b(debug|trace|verbose)\\b"
    target_label  = "detected_level"
    replacement   = "debug"
  }
}

loki.write "default" {
  endpoint {
    url = "http://pi-compute5-b.edsonmanners.com:3100/loki/api/v1/push"
  }
  external_labels = {}
}
