// Managed by Ansible alloy role.
// Alloy config for {{ inventory_hostname }}

logging {
  level = "info"
}

// Collect system+noder metrics via the node_exporter bundle.
prometheus.exporter.unix "default" {
  include_exporter_metrics = true
  disable_collectors       = ["mdadm", "rapl", "gpu"]
}

prometheus.scrape "default" {
  targets = array.concat(
    prometheus.exporter.unix.default.targets,
    [{
      job         = "alloy",
      __address__ = "127.0.0.1:12345",
    }],
  )

  forward_to = [
    prometheus.remote_write.loki_remote.receiver,
  ]
}

// https://grafana.com/docs/alloy/latest/reference/components/prometheus/prometheus.remote_write
prometheus.remote_write "loki_remote" {
  endpoint {
    url = var.prometheus_remote_write_url
  }
}

loki.source.journal "journal" {
  forward_to = [loki.relabel.default.receiver]
  labels = {
    host = "{{ inventory_hostname }}",
    job  = "journal",
  }
}

{% if ansible_facts['os_family'] == 'RedHat' %}
local.file_match "local_files" {
  path_targets = [
    {
      __address__ = "localhost",
      __path__    = "/var/log/*.log",
      job         = "varlogs",
    },
    {
      __address__ = "localhost",
      __path__    = "/var/log/messages",
      job         = "varlogs",
    },
  ]
}

loki.source.file "local" {
  targets        = local.file_match.local_files.targets
  forward_to     = [loki.relabel.default.receiver]
}
{% endif %}

{% if ansible_facts['os_family'] == 'Debian' %}
local.file_match "local_files" {
  path_targets = [
    {
      __address__ = "localhost",
      __path__    = "/var/log/*.log",
      job         = "varlogs",
    },
    {
      __address__ = "localhost",
      __path__    = "/var/log/syslog",
      job         = "varlogs",
    },
  ]
}

loki.source.file "local" {
  targets        = local.file_match.local_files.targets
  forward_to     = [loki.relabel.default.receiver]
}
{% endif %}

loki.relabel "default" {
  forward_to = [loki.write.default.receiver]

  rule {
    target_label = "host"
    replacement  = "{{ inventory_hostname }}"
  }
  rule {
    target_label = "os"
    replacement  = constants.os
  }
}

loki.write "default" {
  endpoint {
    url = "http://pi-compute5-b.edsonmanners.com:3100/loki/api/v1/push"
  }
  external_labels = {}
}
