[Unit]
Description=Report Alive Service
After=network.target systemd-tmpfiles-setup-dev.service
#Requires=postfix.service
#Requires=exim4.service

[Service]
Type=oneshot
KillMode=process
User=emanners
ExecStart=/usr/local/bin/eom_report_alive.sh

[Install]
WantedBy=multi-user.target
