;
; Zone file for edsonmanners.com
;
; The full zone file
; https://bind9.readthedocs.io/en/latest/chapter3.html
;
$TTL 60
;
@   IN  SOA ns1.edsonmanners.com. hostmaster.edsonmanners.com.     (
2025102700  ;serial
14400        ;refresh
3600        ;retry
604800      ;expire
10800        ;minimum
)

68.168.192.in-addr.arpa.                   IN      NS      infra01.edsonmanners.com.
68.168.192.in-addr.arpa.                   IN      NS      pi-compute.edsonmanners.com.

2               IN      PTR     blah1.edsonmanners.com.
3               IN      PTR     blah2.edsonmanners.com.
4               IN      PTR     blah3.edsonmanners.com.
5               IN      PTR     infra01.edsonmanners.com.
6               IN      PTR     katello.edsonmanners.com.
;
68              IN      PTR     gamingrig.edsonmanners.com.
