;
; Zone file for edsonmanners.com
;
; The full zone file
; https://bind9.readthedocs.io/en/latest/chapter3.html
;
$TTL 60
;
@   IN  SOA ns1.edsonmanners.com. hostmaster.edsonmanners.com.     (
2025102700      ;serial
14400                 ;refresh
3600                   ;retry
604800              ;expire
10800                ;minimum
)

69.168.192.in-addr.arpa.                   IN      NS      infra01.edsonmanners.com.
69.168.192.in-addr.arpa.                   IN      NS      pi-compute.edsonmanners.com.

1               IN      PTR     pi-compute.edsonmanners.com.
5               IN      PTR     pi-compute5-a.edsonmanners.com.
;
30              IN      PTR     tp-bmc.edsonmanners.com.
31              IN      PTR     tp-compute-1.edsonmanners.com.
32              IN      PTR     tp-compute-2.edsonmanners.com.
33              IN      PTR     tp-compute-3.edsonmanners.com.
34              IN      PTR     tp-compute-4.edsonmanners.com.
;
140             IN      PTR     pi-zero-2w.edsonmanners.com.
150             IN      PTR     pi-zero-5a.edsonmanners.com.
160             IN      PTR     pi-zero-w.edsonmanners.com.
