;
; Zone file for edsonmanners.com
;
; The full zone file
; https://bind9.readthedocs.io/en/latest/chapter3.html
;
$TTL 60
;
@   IN  SOA ns1.edsonmanners.com. hostmaster.edsonmanners.com. (
2025072001  ;serial 
14400       ;refresh
3600        ;retry
604800      ;expire
10800       ; minimum
)

$ORIGIN edsonmanners.com.
                NS      ns1                     ; Inet Address of name server
                NS      pi-keyboard-500-wired   ; Inet Address of name server
                MX      10 mail                 ; Primary Mail Exchanger
                MX      20 mail2                ; Secondary Mail Exchanger

infra0          A       192.168.68.5
ns1             CNAME   infra01.
katello         A       192.168.68.6
www             CNAME   www.debuntu.org.
ftp             CNAME   ns
gw              A       192.168.68.1
                TXT     "Network gateway"
mail            A       192.168.68.2
mail2           A       192.168.68.3
mail3           CNAME   otherbox
otherbox        A       192.168.68.3
                TXT     "Otherbox"
; 
pi-keyboard-500-wired   A       192.168.70.90