;
; Zone file for edsonmanners.com
;
; The full zone file
; https://bind9.readthedocs.io/en/latest/chapter3.html
;
$TTL 60
;
@   IN  SOA ns1.edsonmanners.com. hostmaster.edsonmanners.com. (
2025072002  ;serial 
14400       ;refresh
3600        ;retry
604800      ;expire
10800       ; minimum
)

                NS      ns1                     ; Inet Address of name server
                NS      pi-keyboard-500-wired   ; Inet Address of name server
                MX      10 mail                 ; Primary Mail Exchanger
                MX      20 mail2                ; Secondary Mail Exchanger

carrington          A   149.154.42.54
;
deco-cave           A   192.168.68.248
deco-living-room    A   192.168.68.247
deco-mo-office      A   192.168.68.249
deco-office         A   192.168.68.250
;
dhcp                CNAME   infra01
dhcp1               CNAME   infra01
dhcp2               CNAME   pi-compute
;
ns1             A       192.168.68.5
infra0          A       192.168.68.5
katello         A       192.168.68.6
www             CNAME   www.debuntu.org.
;
gw              A       192.168.68.1
                TXT     "Network gateway"
gamingrig       A       192.168.68.20
mail            A       192.168.68.2
mail2           A       192.168.68.3
mail3           CNAME   otherbox
otherbox        A       192.168.68.3
                TXT     "Otherbox"
; 
pi-compute      A       192.168.69.1
;pi-compute-5    A       192.168.68.97
pi-compute5-a   A       192.168.69.5
;
pi-keyboard             A       192.168.69.60
pi-keyboard-500-wired   A       192.168.70.90
; 
pi-robot-0      A       192.168.69.110
pi-robot-1      A       192.168.69.101
pi-robot-2      A       192.168.69.102
pi-robot-3      A       192.168.69.103
pi-robot-4      A       192.168.69.104
pi-robot-5      A       192.168.69.105
;
pi-zero-2       A       192.168.69.140
pi-zero-2w      A       192.168.69.150
pi-zero-w       A       192.168.69.160
;
ubuntu-purple.fl    A   192.168.1.175
;
xps             A       192.168.68.131