options {
    directory "/var/cache/bind";
    // listen-on { 192.168.1.11; }; // Slave server IP
    allow-transfer { none; }; // No transfers from slave
    recursion yes; // Authoritative server, disable recursion
    dnssec-validation yes;
};

logging {
    channel default_log {
        file "/var/log/named/named_default.log" versions 3 size 5m;
        print-time yes;
        print-category yes;
        print-severity yes;
        severity debug;
    };
    channel queries_log {
        file "/var/log/named/named_queries.log" versions 3 size 5m;
        print-time yes;
        print-category yes;
        print-severity yes;
        severity debug;
    };
    channel xfer_in_log {
        file "/var/log/named/named_xfer_in.log" versions 3 size 5m;
        print-time yes;
        print-category yes;
        print-severity yes;
        severity debug;
    };
    category default { default_log; };
    category queries { queries_log; };
    category xfer-in { xfer_in_log; };
};

zone "edsonmanners.com" IN {
    type slave;
    file "/var/cache/bind/edsonmanners.com.zone";
    masters { 192.168.68.5; };
};

zone "talscale" IN {
    type slave;
    file "/var/cache/bind/tailscale.zone";
    masters { 192.168.68.5; };
};

zone "68.168.192.in-addr.arpa" IN {
    type slave;
    file "/var/cache/bind/68.168.192.in-addr.arpa.zone";
    masters { 192.168.68.5; };
};

zone "69.168.192.in-addr.arpa" IN {
    type slave;
    file "/var/cache/bind/69.168.192.in-addr.arpa.zone";
    masters { 192.168.68.5; };
};

zone "70.168.192.in-addr.arpa" IN {
    type slave;
    file "/var/cache/bind/70.168.192.in-addr.arpa.zone";
    masters { 192.168.68.5; };
};

