---
# Tasks for Redhat BIND DNS install
- name: "Install the lastest ISC {{ dns_package_name }} DNS Server"
  ansible.builtin.package:
    name: "{{ dns_package_name }}"
    state: latest

# Using user 'named' for RedHat based distros Rocky.
- name: 'BIND config file'
  ansible.builtin.template:
    src: 'named.conf.j2'
    dest: "/etc/named.conf"
    owner: 'root'
    group: "{{ dns_admin_group }}"
    mode: '0664'
  register: named_conf

- name: 'Add sysconfig file to disable IPV6 lookups'
  ansible.builtin.template:
    src: 'sysconfig_named.j2'
    dest: '/etc/sysconfig/named'
    owner: 'root'
    group: 'root'
    mode: '0644'
  register: named_conf

# DNS Zone files
- name: 'FORWARD ZONE file'
  ansible.builtin.template:
    src: 'edsonmanners.com.j2'
    dest: "/var/named/edsonmanners.com"
    owner: 'root'
    group: "{{ dns_admin_group }}"
    mode: '0664'
  #register: named_conf
  notify: Restart DNS Service

- name: 'FORWARD ZONE file'
  ansible.builtin.template:
    src: 'tailscale.j2'
    dest: "/var/named/tailscale"
    owner: 'root'
    group: "{{ dns_admin_group }}"
    mode: '0664'
  #register: named_conf
  notify: Restart DNS Service

- name: 'REVERSE ZONE file 68'
  ansible.builtin.template:
    src: '68.168.192.in-addr.arpa.j2'
    dest: "/var/named/68.168.192.in-addr.arpa"
    owner: 'root'
    group: "{{ dns_admin_group }}"
    mode: '0664'
  #register: named_conf
  notify: Restart DNS Service

- name: 'REVERSE ZONE file 69'
  ansible.builtin.template:
    src: '69.168.192.in-addr.arpa.j2'
    dest: "/var/named/69.168.192.in-addr.arpa"
    owner: 'root'
    group: "{{ dns_admin_group }}"
    mode: '0664'
  #register: named_conf
  notify: Restart DNS Service

- name: 'REVERSE ZONE file 70'
  ansible.builtin.template:
    src: '70.168.192.in-addr.arpa.j2'
    dest: "/var/named/70.168.192.in-addr.arpa"
    owner: 'root'
    group: "{{ dns_admin_group }}"
    mode: '0664'
  #register: named_conf
  notify: Restart DNS Service

- name: 'REVERSE ZONE file 71'
  ansible.builtin.template:
    src: '71.168.192.in-addr.arpa.j2'
    dest: "/var/named/71.168.192.in-addr.arpa"
    owner: 'root'
    group: "{{ dns_admin_group }}"
    mode: '0664'
  #register: named_conf
  notify: Restart DNS Service

- name: Start service {{ dns_service_name }}, if not started
  ansible.builtin.service:
    name: "{{ dns_service_name }}"
    state: started
    enabled: yes
  #when: named_conf.changed
  notify: Restart DNS Service
